%btn-negro{
  color: white;
      background-color: black;
}
%boton{
  margin: 1vw;
      border-radius: 5px;
      padding: 5px;
      width: 12vw;
}
%flexcentrar{
  display: flex;
  align-items: center;
  justify-content: center;
}
%flexaround{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*COMIENZA ZOY*/
%medidaSectionPartners{
    border: 1px solid black;
    width: 100%;
    height: 700px;
}
%Partner{
  border: 1px solid black;
  border-radius: 50px;
  border: 7px solid black;
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}
%PartnerYamaha{
  border: 1px solid black;
  width: 222px;
  height: 100px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 7px solid black;
  border-right: 0;
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  margin-right: 0;
}
%imagenYamaha{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0;
  width: 43px;
  height: 90px;
  background-color: gray;
  border-top-left-radius: 280px;
  border-bottom-left-radius: 280px;
  border: 1px solid white;
  border-right: 0;  
}
%centrado{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
%texto{
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
