@import "extends";

.header__container {
  width: 100vw;
  height: auto;
  .header__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .header__nav--logo {
      width: 7vw;
    }
    .header__nav--desktop {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      nav {
        width: 60%;
        ul {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          li {
            font-size: 14px;
            font-weight: 600;
            .contactanos {
              @extend %btn-negro;
              @extend %boton;
              padding: 1vw;
            }
          }
        }
      }
    }
    .header__nav--cart {
      width: 5%;
    }
  }
}

.header__section {
  margin-top: 15vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  p {
    height: 10vh;
    margin-top: 2vh;
    color: rgba(133, 133, 133, 1);
    font-size: 19px;
  }
  h1 {
    height: 10vh;
    font-size: 62px;
    font-family: "Abril Fatface";
    letter-spacing: 0.5vw;
    margin-bottom: 5vh;
  }
  .header__section--btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    button {
      @extend %boton;
    }
    .btn-negro {
      @extend %btn-negro;
    }
    .btn-blanco {
      color: black;
      background-color: white;
    }
  }
  .header__section--images {
    margin: 1px;
    .header__section--imgredes {
      margin: 1px;
    }
  }
}