@mixin tam($ancho, $alto) {
  width: $ancho;
  height: $alto;
}

@mixin tipografia($letra, $estilo, $densidad, $size, $lh) {
  font-family: $letra;
  font-style: $estilo;
  font-weight: $densidad;
  font-size: $size;
  line-height: $lh;
}
@mixin miFlex($align,$justify,$direction){
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}
/*COMIENZA ZOY*/
