

.section__partners{
    position: relative;
    @include tam(100vw,100vh);
    @extend %medidaSectionPartners;
    background: linear-gradient(#6f6f6f, #fff);
    h4{
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Abril Fatface';
        @extend %texto;
    }
  }
.div__contenedor_partners{
    @include tam(100%,100%);
}
.div__primerFila{
    span{
        padding-right: 35px
    }
    @extend %flexcentrar;
    gap: 100px;
    @include tam(100%,30%);

}
.div__segundaFila{
    span{
        padding-left: 25px;
    }
    @extend %flexcentrar;
    gap: 100px;
    @include tam(100%,30%);
     #hefiltiti{
        position: absolute;
        margin-right: 88%;
        @include tam(315px,100px);
        @extend %Partner; 
        font-family: 'Raleway';
        @extend %texto;
     }
     #yamaha{
        position: absolute;
        margin-left: 83%;
        @include tam(315px,100px);
        @extend %Partner;
        font-family: 'Raleway';
        @extend %texto;
            #imgYamaha{
                @include tam(90px,90px);
                background-color: gray;
                border-radius: 50%;
                border: 1px solid white;
                display: flex;
                justify-content: flex-start;
                padding: 10px;
                align-items: stretch;
                }
     }

}
.div__tercerFila{
    span{
        padding-right: 35px
    }
    @extend %flexcentrar;
    gap: 100px;
    @include tam(100%,30%);
        #piafmar{
            border: 1px solid black;
            width: 288px;
            height: 100px;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border: 7px solid black;
            border-right: 0;
            margin-top: 3%;
            margin-bottom: 3%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: black;
            color: white;
            margin-right: 0;
            span{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                text-align: center;
            }
        }
}
.div__partners{
    @include tam(30%,100%);
    @extend %Partner;
        span{
            font-family: 'Raleway';
            @extend %texto;
        }
}
.contenedor__imagen{
    @extend %centrado;
    @include tam(90px,90px);
    background-color: gray;
    border-radius: 50%;
    border: 1px solid white;
}