@import "extends";
@import "mixins";

.section__buscando {
  @extend %flexcentrar;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0) 0%,
    #f5f5f5 51.56%,
    rgba(245, 245, 245, 0) 100%
  );
  width: 100vw;
  height: 100vh;

  h2 {
    width: 470px;
    height: 62px;
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    margin: 1vw;
  }
  .modelos {
    @extend %flexaround;
    align-content: center;
    @include tam(100%, 80%);

    margin: 1vw;
    .modelo__butterfly {
      @include tam(25%, 80%);
      @extend %flexcentrar;
      flex-direction: column;
      border: 1px solid black;
      position: relative;
      .img {
        @include tam(70%, 35%);
        border: 1px solid black;
        position: absolute;
        top: -20%;
      }
      .data {
        @include tam(100%, 50%);
        margin-top: 8vw;
        border-top: 1px dashed #DBDBDB;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-direction: column;
        
        .name {
          margin: 1vw;
          @include tipografia("Abril Fatface", normal, 400, 16px, 22px);
        }
        ul {
          @extend %flexaround;
          li {
            @include tipografia("Raleway", normal, 400, 12px, 14px);
          }
        }
        .btns {
          @include tam(100%, 20%);
          @extend %flexbetween;
          .precio{
            @include tam(60%, 100%);
            @extend %boton;
            @extend %btn-blanco;
            border: 1px solid black;
            @extend %flexcentrar;
            span{
              font-weight: bolder;
            }
          }
          .img-cart{
            @include tam(20%, 100%);
          }
        }
      }
    }
    .modelo__leaf {
      @include tam(25%, 80%);
    }
    .modelo__strauss {
      @include tam(25%, 80%);
    }
  }
  button {
    @extend %btn-negro;
    @extend %boton;
  }
}
