@import 'extends';
@import 'mixins';

.section__partners{
    position: relative;
    @extend %medidaSectionPartners;
    background: linear-gradient(#6f6f6f, #fff);
    h4{
        font-family: 'Abril Fatface';
        @extend %texto;
    }
  }
.div__contenedor_partners{
    @include tam(100%,100%);
}
.div__primerFila{
    span{
        padding-right: 45px
    }
    @extend %flexcentrar;
    gap: 100px;
    @include tam(100%,30%);


}
.div__segundaFila{
    span{
        padding-left: 25px;
    }
    @extend %flexcentrar;
    gap: 100px;
    @include tam(100%,30%);
     #hefiltiti{
        position: absolute;
        margin-right: 80%;
        @include tam(315px,100px);
        @extend %Partner; 
        font-family: 'Raleway';
        @extend %texto;
     }
     #yamaha{
        position: absolute;
        margin-left: 78%;
        @extend %PartnerYamaha;
        font-family: 'Raleway';
        @extend %texto;
        #imgYamaha{
        @extend %imagenYamaha;
     }
    }

}
.div__tercerFila{
    span{
        padding-right: 45px
    }
    @extend %flexcentrar;
    gap: 30px;
    @include tam(100%,30%);
    
}
.div__partners{
    @include tam(32%,100%);
    @extend %Partner;
        span{
            font-family: 'Raleway';
            @extend %texto;
        }
}
.contenedor__imagen{
    @extend %centrado;
    @include tam(90px,90px);
    background-color: gray;
    border-radius: 50%;
    border: 1px solid white;
}