

.section__buscando {
  @include miFlex(center, center, column);
  background: linear-gradient(180deg, white 25%, #dcdcdc, white 90%);
  @include tam(100vw, 100vh);

  h2 {
    @include tam(470px, 62px);
    @include tipografia($abril, normal, 400, 32px, 43px);
    text-align: center;
    margin: 1vw;
  }

  .modelos {
    @include tam(100%, 60%);
    @include miFlex(center, space-around, row);
    margin-top: 10vw;

    .modelo__butterfly {
      @include tam(25%, 80%);
      @include miFlex(center, center, column);
      border-radius: 10px;
      background-color: white;
      position: relative;
      box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);

      .img {
        @include tam(60%, 60%);
        position: absolute;
        top: -30%;
      }

      .data {
        @include tam(100%, 50%);

        @include miFlex(stretch, space-between, column);
        margin-top: 8vw;
        border-top: 2px dashed #dbdbdb;

        .name {
          @include tipografia($abril, normal, 400, 16px, 22px);
          margin: 1vw;
        }

        ul {
          @include miFlex(center, space-around, row);
          li {
            @include tipografia($rale, normal, 400, 12px, 14px);
          }
        }

        .btns {
          @include tam(100%, 25%);
          @include miFlex(center, space-around, row);

          .precio {
            @include tam(70%, 100%);
            @include miFlex(center, space-around, row);
            @extend %boton;
            @extend %btn-blanco;
            border: 1px solid black;
            span {
              font-weight: bolder;
            }
          }
          .img-cart {
            @include tam(10%, 100%);
            margin: 1vw;
          }
        }
      }
    }
  }
  button {
    @include tam(10%, 5%);
    @extend %btn-negro;
    @extend %boton;
  }
}
