@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
html {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Raleway", sans-serif;
}

@media only screen and (max-width: 600px) {
  .section__buscando button, .header__container .header__section .header__section--btns .btn-negro {
    color: white;
    background-color: black;
  }
  .section__buscando .modelos .modelo__butterfly .data .btns .precio, .header__container .header__section .header__section--btns .btn-blanco {
    color: black;
    background-color: white;
  }
  .section__buscando button, .section__buscando .modelos .modelo__butterfly .data .btns .precio, .header__container .header__section .header__section--btns .btn-blanco, .header__container .header__section .header__section--btns .btn-negro {
    margin: 1vw;
    border-radius: 5px;
    padding: 5px;
    width: 12vw;
  }
  .section__buscando .modelos .modelo__butterfly {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer section .footer__contactanos, footer section .footer__nosotros ul, footer section .footer__nosotros, footer section .footer__logos, footer, .section__buscando .modelos .modelo__butterfly .data .btns, .section__buscando .modelos .modelo__butterfly .data ul, .header__container .header__section .header__section--btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header__container .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .header__container .header__nav {
    margin: 5vh 0;
    padding: 0 5vw;
    width: 100%;
    height: 10%;
  }
  .header__container .header__nav .header__nav--logo {
    width: 25%;
    height: 100%;
  }
  .header__container .header__nav .header__nav--desktop {
    display: none;
  }
  .header__container .header__nav .header__nav--cart {
    width: 20%;
    height: 100%;
  }
  .header__container .header__section {
    width: 100%;
    height: 80%;
  }
  .header__container .header__section p {
    text-align: center;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #858585;
    margin: 5vh 0;
  }
  .header__container .header__section h1 {
    text-align: center;
    margin: 5vh 0;
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
  }
  .header__container .header__section .header__section--btns {
    width: 100%;
    height: 10%;
    padding-left: 5vw;
  }
  .header__container .header__section .header__section--btns .btn-negro {
    width: 40%;
    height: 80%;
  }
  .header__container .header__section .header__section--btns .btn-blanco {
    width: 40%;
    height: 80%;
  }
  .header__container .header__section .header__section--images {
    text-align: center;
    width: 100%;
    height: 70%;
  }
  .header__container .header__section .header__section--images img {
    width: 80%;
    height: 100%;
  }
  .header__container .header__section .header__section--images .header__section--imgredes {
    display: none;
  }
  .section__buscando {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background: linear-gradient(180deg, white 25%, #dcdcdc, white 90%);
  }
  .section__buscando h2 {
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    width: 100%;
    height: 72px;
    text-align: center;
    margin: 1vw 0;
  }
  .section__buscando .modelos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .section__buscando .modelos .modelo__butterfly {
    margin: 4vw 0;
    background-color: white;
    border-radius: 5%;
    flex-direction: column;
    width: 80%;
    height: auto;
    box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
  }
  .section__buscando .modelos .modelo__butterfly .img {
    margin-top: 10%;
    width: 80%;
    height: 60%;
  }
  .section__buscando .modelos .modelo__butterfly .data {
    width: 100%;
    height: auto;
    margin-left: 2vw;
    margin-top: 4vw;
    border-top: 1px dashed #DBDBDB;
  }
  .section__buscando .modelos .modelo__butterfly .data .name {
    margin: 2vw 0;
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }
  .section__buscando .modelos .modelo__butterfly .data ul {
    margin: 2vw 0;
  }
  .section__buscando .modelos .modelo__butterfly .data ul li {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .section__buscando .modelos .modelo__butterfly .data .btns {
    margin: 2vw 0;
  }
  .section__buscando .modelos .modelo__butterfly .data .btns .precio {
    width: 60%;
    height: 90%;
    border: 1px solid black;
    text-align: center;
  }
  .section__buscando .modelos .modelo__butterfly .data .btns .precio span {
    font-weight: bolder;
  }
  .section__buscando button {
    width: 40%;
    height: 20%;
    margin: 4vw 0;
  }
  .section__modelonuevo {
    width: 100vw;
    height: auto;
    text-align: center;
  }
  .section__modelonuevo h2 {
    font-family: "Abril Fatface";
    text-align: center;
    letter-spacing: 0.2vw;
    font-weight: 400;
    font-size: 32px;
  }
  .section__modelonuevo .modelo__ebony-container {
    height: auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.820101) 1%, rgba(0, 0, 0, 0.75) 60%, rgba(0, 0, 0, 0.75) 90%, rgba(255, 255, 255, 0.6454) 100%);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column-reverse;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text {
    height: auto;
    margin-top: 5%;
    color: white;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text h3 {
    font-family: "Abril Fatface";
    text-align: center;
    letter-spacing: 0.2vw;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 2vh;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text h4 {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 2vh;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text h2 {
    font-family: "Abril Fatface";
    text-align: center;
    letter-spacing: 0.2vw;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 2vh;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text p {
    margin-left: 25%;
    width: 50%;
    height: 200px;
    text-align: center;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text ul {
    margin-top: 1%;
    margin-left: 25%;
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text ul li {
    list-style: inherit;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text .btn-negro-desktop {
    display: none;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text .btn-negro-mobile {
    margin-top: 1.8vh;
    border-radius: 10px;
    padding: 5px;
    width: 50vw;
    color: #999;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-image {
    background-image: url(../img/Background.png);
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    position: relative;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-image .pianocafe_b1 {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
    right: 0;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-image .pianocafe_b2 {
    position: absolute;
    width: 80%;
    top: 12%;
    left: 10%;
    right: 0;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-image .pianocafe {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
    right: 0;
  }
  .section__contactanos {
    position: relative;
    padding: 32px;
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.35) 100%);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section__contactanos .section__contactanos--fondo {
    -o-object-fit: contain;
       object-fit: contain;
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }
  .section__contactanos .section__contactanos--fondo img {
    height: 100%;
    width: 100%;
  }
  .section__contactanos h2 {
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 20px;
    justify-content: center;
  }
  .section__contactanos p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
  }
  .section__contactanos form input {
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 100%;
    height: 36px;
    margin-top: 18px;
  }
  .section__contactanos form input .input__cuentanos {
    box-sizing: border-box;
    position: absolute;
    width: 288px;
    height: 148px;
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid #ffffff;
  }
  .section__contactanos form label {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    margin-top: 18px;
  }
  .section__contactanos form button {
    width: 100%;
    height: 32px;
    background: #000000;
    border-radius: 8px;
    color: white;
    font-family: Raleway;
    font-size: 14px;
    text-align: center;
    font-weight: bolder;
    margin-top: 16px;
  }
  .section__contactanos form textarea#cuentanos {
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-top: 18px;
  }
  .section__contactanos .section__contactanos--body {
    max-width: 600px;
    margin: 0 auto;
  }
  .section__contactanos .section__contactanos--body .input__telemail {
    display: flex;
    flex-direction: column;
  }
  .section__contactanos .section__contactanos--body .input__telemail .columnas {
    width: 100%;
  }
  .section__partners {
    background: linear-gradient(#6f6f6f, #fff);
  }
  .section__partners h4 {
    font-family: "Abril Fatface";
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    padding-left: 20%;
    padding-right: 20%;
  }
  #parispian {
    display: none;
  }
  #hefiltiti {
    display: none;
  }
  #yamaha {
    display: none;
  }
  #pianotwo {
    display: none;
  }
  .div__primerFila {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .div__segundaFila {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .div__tercerFila {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #petrof, #piafmar {
    border: 1px solid black;
    width: 288px;
    height: 100px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 7px solid black;
    border-right: 0;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    margin-right: 0;
    padding-right: 40px;
  }
  #petrof span, #piafmar span {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
  }
  #bookpa {
    border: 1px solid black;
    width: 288px;
    height: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 7px solid black;
    border-left: 0;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    margin-right: 0;
    padding-left: 40px;
  }
  #bookpa span {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
  }
  .contenedor__imagen {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: gray;
    border-radius: 50%;
    border: 1px solid white;
  }
  footer {
    width: 100vw;
    height: auto;
    flex-direction: column;
    background: linear-gradient(177.96deg, rgba(255, 255, 255, 0.43) 1.72%, #6f6f6f 107.44%);
  }
  footer section {
    width: 100%;
    height: 90%;
  }
  footer section .footer__logos {
    width: 100vw;
    height: 40%;
    flex-direction: column;
    text-align: center;
  }
  footer section .footer__logos img {
    border-radius: 4vw;
  }
  footer section .footer__nosotros {
    flex-direction: column;
    width: 100vw;
    height: 40%;
  }
  footer section .footer__nosotros h2 {
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  footer section .footer__nosotros ul {
    flex-direction: column;
  }
  footer section .footer__nosotros ul li {
    font-family: inherit;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 25px;
  }
  footer section .footer__nosotros p {
    display: none;
  }
  footer section .footer__contactanos {
    flex-direction: column;
    width: 100vw;
    height: 20%;
  }
  footer section .footer__contactanos h2 {
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  footer section .footer__contactanos p {
    margin-bottom: 5vh;
    width: 50%;
    height: 20%;
    font-family: inherit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
  }
  footer p {
    margin-top: 5vh;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }
  footer .firma {
    margin-top: 5vh;
    text-align: center;
  }
}
@media only screen and (min-width: 1000px) {
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text .btn-negro-desktop, .section__buscando button, .header__section .header__section--btns .btn-negro, .header__container .header__nav .header__nav--desktop nav ul li .contactanos {
    color: white;
    background-color: black;
  }
  .section__buscando .modelos .modelo__butterfly .data .btns .precio {
    color: black;
    background-color: white;
  }
  .section__buscando button, .section__buscando .modelos .modelo__butterfly .data .btns .precio, .header__section .header__section--btns button, .header__container .header__nav .header__nav--desktop nav ul li .contactanos {
    margin: 1vw;
    border-radius: 5px;
    padding: 5px;
    width: 12vw;
  }
  footer .firma, .div__tercerFila, .div__segundaFila, .div__primerFila {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer section .footer__logos, footer section, .section__modelonuevo .modelo__ebony-container .modelo__ebony-text ul, .section__modelonuevo .modelo__ebony-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /*COMIENZA ZOY*/
  .section__partners {
    width: 100%;
    height: 700px;
  }
  .div__partners, .div__segundaFila #yamaha, .div__segundaFila #hefiltiti {
    border: 1px solid black;
    border-radius: 50px;
    border: 7px solid black;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
  }
  .contenedor__imagen {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .div__partners span, .div__segundaFila #yamaha, .div__segundaFila #hefiltiti, .section__partners h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
  }
  /*COMIENZA ZOY*/
  .header__container {
    width: 100vw;
    height: auto;
  }
  .header__container .header__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__container .header__nav .header__nav--logo {
    width: 7vw;
  }
  .header__container .header__nav .header__nav--desktop {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header__container .header__nav .header__nav--desktop nav {
    width: 60%;
  }
  .header__container .header__nav .header__nav--desktop nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header__container .header__nav .header__nav--desktop nav ul li {
    font-size: 14px;
    font-weight: 600;
  }
  .header__container .header__nav .header__nav--desktop nav ul li .contactanos {
    padding: 1vw;
  }
  .header__container .header__nav .header__nav--cart {
    width: 5%;
  }
  .header__section {
    margin-top: 15vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .header__section p {
    height: 10vh;
    margin-top: 2vh;
    color: rgb(133, 133, 133);
    font-size: 19px;
  }
  .header__section h1 {
    height: 10vh;
    font-size: 62px;
    font-family: "Abril Fatface";
    letter-spacing: 0.5vw;
    margin-bottom: 5vh;
  }
  .header__section .header__section--btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
  }
  .header__section .header__section--btns .btn-blanco {
    color: black;
    background-color: white;
  }
  .header__section .header__section--images {
    margin: 1px;
  }
  .header__section .header__section--images .header__section--imgredes {
    margin: 1px;
  }
  .section__buscando {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, white 25%, #dcdcdc, white 90%);
    width: 100vw;
    height: 100vh;
  }
  .section__buscando h2 {
    width: 470px;
    height: 62px;
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    margin: 1vw;
  }
  .section__buscando .modelos {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 10vw;
  }
  .section__buscando .modelos .modelo__butterfly {
    width: 25%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    position: relative;
    box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
  }
  .section__buscando .modelos .modelo__butterfly .img {
    width: 60%;
    height: 60%;
    position: absolute;
    top: -30%;
  }
  .section__buscando .modelos .modelo__butterfly .data {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 8vw;
    border-top: 2px dashed #dbdbdb;
  }
  .section__buscando .modelos .modelo__butterfly .data .name {
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 1vw;
  }
  .section__buscando .modelos .modelo__butterfly .data ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .section__buscando .modelos .modelo__butterfly .data ul li {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .section__buscando .modelos .modelo__butterfly .data .btns {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .section__buscando .modelos .modelo__butterfly .data .btns .precio {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border: 1px solid black;
  }
  .section__buscando .modelos .modelo__butterfly .data .btns .precio span {
    font-weight: bolder;
  }
  .section__buscando .modelos .modelo__butterfly .data .btns .img-cart {
    width: 10%;
    height: 100%;
    margin: 1vw;
  }
  .section__buscando button {
    width: 10%;
    height: 5%;
  }
  .section__modelonuevo {
    background-image: url(../img/Background.png);
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    width: 100vw;
  }
  .section__modelonuevo h2 {
    font-family: "Abril Fatface";
    text-align: center;
    letter-spacing: 0.2vw;
    font-weight: 400;
    font-size: 32px;
  }
  .section__modelonuevo .modelo__ebony-container {
    margin-left: 2%;
    color: white;
    margin-top: 10vh;
    padding-bottom: 3vh;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text {
    width: 40vw;
    margin-left: -10vw;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text h3 {
    font-family: "Abril Fatface";
    text-align: left;
    letter-spacing: 0.2vw;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 2vh;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text h4 {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 2vh;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text h2 {
    font-family: "Abril Fatface";
    text-align: left;
    letter-spacing: 0.2vw;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 2vh;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text p {
    text-align: justify left;
    width: 40vw;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 2vh;
    line-height: 2.5vh;
    letter-spacing: 0.2vh;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text ul {
    width: 30vw;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text li {
    font-weight: 700;
    margin-left: -3vw;
    list-style: inherit;
    font-size: 12px;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text .btn-negro-mobile {
    display: none;
  }
  .section__modelonuevo .modelo__ebony-container .modelo__ebony-text .btn-negro-desktop {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 14px;
    margin-top: 2.5vh;
    border-radius: 11px;
    padding: 5px;
    width: 25vw;
    margin-left: 1vw;
  }
  .section__modelonuevo .modelo__ebony-image {
    width: 25vw;
    position: relative;
  }
  .section__modelonuevo .modelo__ebony-image .pianocafe_b1 {
    position: absolute;
    left: -15vw;
    top: -20vh;
  }
  .section__modelonuevo .modelo__ebony-image .pianocafe_b2 {
    position: absolute;
    left: -15vw;
    top: -20vh;
  }
  .section__modelonuevo .modelo__ebony-image .pianocafe {
    position: absolute;
    left: -15vw;
    top: -20vh;
  }
  .section__contactanos {
    position: relative;
    padding: 32px;
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.35) 100%);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section__contactanos .section__contactanos--fondo {
    -o-object-fit: contain;
       object-fit: contain;
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }
  .section__contactanos .section__contactanos--fondo img {
    height: 100%;
    width: 100%;
  }
  .section__contactanos h2 {
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 20px;
    justify-content: center;
  }
  .section__contactanos p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
  }
  .section__contactanos form input {
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 100%;
    height: 36px;
    margin-top: 18px;
  }
  .section__contactanos form input .input__cuentanos {
    box-sizing: border-box;
    position: absolute;
    width: 288px;
    height: 148px;
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid #FFFFFF;
  }
  .section__contactanos form label {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    margin-top: 18px;
  }
  .section__contactanos form button {
    width: 100%;
    height: 32px;
    background: #000000;
    border-radius: 8px;
    color: white;
    font-family: Raleway;
    font-size: 14px;
    text-align: center;
    font-weight: bolder;
    margin-top: 16px;
  }
  .section__contactanos form textarea#cuentanos {
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    margin-top: 18px;
  }
  .section__contactanos .section__contactanos--body {
    max-width: 600px;
    margin: 0 auto;
  }
  .section__contactanos .section__contactanos--body .input__telemail {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .section__contactanos .section__contactanos--body .input__telemail .columnas {
    width: 45%;
  }
  .section__partners {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#6f6f6f, #fff);
  }
  .section__partners h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Abril Fatface";
  }
  .div__contenedor_partners {
    width: 100%;
    height: 100%;
  }
  .div__primerFila {
    gap: 100px;
    width: 100%;
    height: 30%;
  }
  .div__primerFila span {
    padding-right: 35px;
  }
  .div__segundaFila {
    gap: 100px;
    width: 100%;
    height: 30%;
  }
  .div__segundaFila span {
    padding-left: 25px;
  }
  .div__segundaFila #hefiltiti {
    position: absolute;
    margin-right: 85%;
    width: 315px;
    height: 100px;
    font-family: "Raleway";
  }
  .div__segundaFila #yamaha {
    position: absolute;
    margin-left: 83%;
    width: 315px;
    height: 100px;
    font-family: "Raleway";
  }
  .div__segundaFila #yamaha #imgYamaha {
    width: 90px;
    height: 90px;
    background-color: gray;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: stretch;
  }
  .div__tercerFila {
    gap: 100px;
    width: 100%;
    height: 30%;
  }
  .div__tercerFila span {
    padding-right: 35px;
  }
  .div__tercerFila #piafmar {
    border: 1px solid black;
    width: 288px;
    height: 100px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 7px solid black;
    border-right: 0;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    margin-right: 0;
  }
  .div__tercerFila #piafmar span {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
  }
  .div__partners {
    width: 350px;
    height: 100%;
  }
  .div__partners span {
    font-family: "Raleway";
  }
  .contenedor__imagen {
    width: 90px;
    height: 90px;
    background-color: gray;
    border-radius: 50%;
    border: 1px solid white;
  }
  .header__container .header__nav .header__nav--desktop nav ul li .contactanos, .header__section .header__section--btns .btn-negro, .section__buscando button, .section__modelonuevo .modelo__ebony-container .modelo__ebony-text .btn-negro-desktop {
    color: white;
    background-color: black;
  }
  .section__buscando .modelos .modelo__butterfly .data .btns .precio {
    color: black;
    background-color: white;
  }
  .header__container .header__nav .header__nav--desktop nav ul li .contactanos, .header__section .header__section--btns button, .section__buscando .modelos .modelo__butterfly .data .btns .precio, .section__buscando button {
    margin: 1vw;
    border-radius: 5px;
    padding: 5px;
    width: 12vw;
  }
  footer .firma, .div__primerFila, .div__segundaFila, .div__tercerFila {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer section .footer__logos, footer section, .section__modelonuevo .modelo__ebony-container, .section__modelonuevo .modelo__ebony-container .modelo__ebony-text ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /*COMIENZA ZOY*/
  .section__partners {
    width: 100%;
    height: 700px;
  }
  .div__segundaFila #hefiltiti, .div__segundaFila #yamaha, .div__partners {
    border: 1px solid black;
    border-radius: 50px;
    border: 7px solid black;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
  }
  .contenedor__imagen {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .section__partners h4, .div__segundaFila #hefiltiti, .div__segundaFila #yamaha, .div__partners span {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
  }
  /*COMIENZA ZOY*/
  footer {
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    background: linear-gradient(180deg, #ffffff 0%, #6f6f6f 100%);
  }
  footer section {
    width: 100%;
    height: 80%;
  }
  footer section .footer__logos {
    width: 25%;
    height: 80%;
    flex-direction: column;
  }
  footer section .footer__logos img {
    border-radius: 1vw;
  }
  footer section .footer__nosotros {
    width: 25%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
  }
  footer section .footer__nosotros h2 {
    font-family: "Abril Fatface";
    font-style: Regular;
    font-weight: 400;
    font-size: 19px;
    line-height: 100%;
  }
  footer section .footer__nosotros ul {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    margin: 1vw 0 5vw 0;
  }
  footer section .footer__nosotros ul li {
    font-family: inherit;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 25px;
  }
  footer section .footer__contactanos {
    width: 25%;
    height: 80%;
  }
  footer section .footer__contactanos h2 {
    margin-bottom: 2vw;
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
  }
  footer section .footer__contactanos p {
    width: 70%;
    height: 25%;
    font-family: inherit;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 25px;
  }
  footer .derechos {
    display: none;
  }
  footer .firma {
    width: 20%;
    height: 10%;
    flex-direction: column;
    margin: 5vw 0;
  }
}/*# sourceMappingURL=style.css.map */