* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root,
html {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap");

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Raleway", sans-serif;
}

@media only screen and (max-width: 600px) {
  @import "extends-mobile";
  @import "mixins-mobile";
  
  @import "header-mobile";

  @import "section__buscando--mobile";
  @import "section__modelos-mobile";
  @import "section__contactanos--mobile.scss";
  @import "section__partners-mobil";
  @import "footer__mobile";
}

@media only screen and (min-width: 1000px) {
  @import "extends";
  @import "mixins";
  
  

  @import "header";

  @import "section__buscando";
  @import "section__modelos";
  @import "section__contactanos";
  @import "section__partners";
  

  @import "footer";
}
